<div>
    <table>
        <tr>
            <td><a href = "/introduction">页面介绍</a></td>
            <td><a href = "/page1">数据导入</a></td>
            <td><a href = "/page2">数据整体预览</a></td>
            <td><a href = "/page3">数据清洗</a></td>
            <td><a href = "/page4">数据预处理</a></td>
            <td><a href = "/page5">建模 </a></td>
            <td><a href = "/page6">结果分析</a></td>
            <td><a href = "/page7">表格下载</a></td>
        </tr>
    </table>
    <div>
        <img src="/static/Logo.jpeg" width="100" height="100"/>
    </div>
</div>